<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="../majax.js"></script>
    <script>
        majax({
            type: 'get',
            url: 'http://localhost:3000/ajaxGet',
            data: {
                name: 'dah',
                age: 2
            },
            // header: {
            //     'Content-Type': 'application/json'
            //     // 'Content-Type': 'application/x-www-form-urlencoded'
            // },
            success: function(data) {
                console.log('success', data);
            },
            error: function(err) {

            }
        })
    </script>
</body>
</html>