{{extend './_layouts/home.html'}}

{{block 'title'}}{{'blog-second index'}}{{/block}}

{{block 'body'}} 
<ul class="media-list">
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
          </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
        <p>N.626 回复了问题 • 2 人关注 • 1 个回复 • 好多 次浏览 • 2020-10-20 13:45</p>
      </div>
    </li>
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
          </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
        <p>N.626 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2020-10-20 13:45</p>
      </div>
    </li>
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
          </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
        <p>N.626 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2020-10-20 13:45</p>
      </div>
    </li>
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
          </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
        <p>N.626 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2020-10-20 13:45</p>
      </div>
    </li>
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
          </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
        <p>N.626 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2020-10-20 13:45</p>
      </div>
    </li>
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
          </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
        <p>N.626 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2020-10-20 13:45</p>
      </div>
    </li>
    
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
          </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
        <p>N.626 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2020-10-20 13:45</p>
      </div>
    </li>
  </ul>
{{/block}}